Course Assets/Git Token.txt
Course Assets/StudentAssets/.DS_Store
Course Assets/StudentAssets/DatingApp.postman_collection_v7.json
Course Assets/StudentAssets/jsongenerator.txt
Course Assets/StudentAssets/user.png
Course Assets/StudentAssets/UserSeedData.json
Course Assets/StudentAssets/PhotoManagementChallenge/Photo Management Challenge solution.pdf
Course Assets/StudentAssets/PhotoManagementChallenge/Photo Management Challenge.pdf
Course Assets/StudentAssets/generateTrustedSSL/.DS_Store
Course Assets/StudentAssets/generateTrustedSSL/generate.sh
Course Assets/StudentAssets/generateTrustedSSL/Instructions.txt
Course Assets/StudentAssets/generateTrustedSSL/openssl-custom.cnf
Course Assets/StudentAssets/generateTrustedSSL/server.crt
Course Assets/StudentAssets/generateTrustedSSL/server.key
Course Assets/StudentAssets/snippets/.DS_Store
Course Assets/StudentAssets/snippets/editorconfig.txt
Course Assets/StudentAssets/snippets/flyConnectionString.txt
Course Assets/StudentAssets/snippets/heroku connection string.txt
Course Assets/StudentAssets/snippets/member-tabs-css.txt
Course Assets/StudentAssets/snippets/utc-datacontext-snippet.txt
API/appsettings.Development.json
